h1{
    color: blue;
    font-size: 40px;
}

.noActivity{
    color: darkred;
}
.todoItem{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#newTodo{
    height: 25px;
    border: thin solid darkblue;
    color: darkslateblue;
    border-radius: 5px;
    box-shadow: inset;
}

button{
    border: groove;
    margin: 10px 10px 10px 0px;
    padding: 5px 10px;
    border-radius: 10%;
    background-color:chartreuse;
    transition: transform 0.2s;
}
button:hover{
    background-color: rgb(190, 190, 240);
    
    transform: scaleX(1.2) scaleY(1.2);

}
.checked{
    text-decoration: line-through;
    color: red;
    ;
}

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.contain{
  margin: auto;
  width: 50%;
  border: 3px solid #c3c3c3;
  border-radius: 2%;
  padding: 45px;
  text-align: center;
}

.Myoverflow{
    overflow-y: hidden;
    
}