<div class="jumbotron">
    <div class="contain">
        <div >
            <h1>My Activity Tracker</h1>
            
            <div>
                <input id="newTodo" type="text" [(ngModel)]="newToDo" class="form-control">
            </div>
            <span *ngIf="error" style="color:red;">Please enter an activity!</span>
            <br/>
            <button id="addActivity" (click)="addMore()" class="btn">Add an Activity!</button>
            <button id="clearAll" (click)="clearAll()" class="btn">Clear All</button>
        </div>
        <div class="Myoverflow">
            <div *ngFor="let todo of todos; let i=index" [ngClass]="{'todoItem':true}" >
                <input type="checkbox" [(ngModel)]="todo.done" />
                <span [ngClass]="{'checked': todo.done}">{{i+1}}. {{ todo.desc }}</span>
            </div>
        </div>
        <span *ngIf="todos.length == 0" [ngClass]="{'noActivity':true}" >No Activities to track! Start by adding one</span><br/><br/>
    </div>
</div>



  <router-outlet></router-outlet>